@font-face {
  font-family: 'gulijianti';
  src: url(../public/fangzhenggulijiti.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'huakangbuding';
  src: url(../public/huakangbuding.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  height: 100%;
  padding-bottom: 1rem;
  background-color: #E5C289;
  background-size: 100%;
}

@media screen and (max-width: 375px) {
  .container {
    background-image: url('../public/cloud-bg@1x.jpg');
  }
}

@media screen and (min-width: 376px) {
  .container {
    background-image: url('../public/cloud-bg@2x.jpg');
  }
}

.header {
  width: 100%;
  height: 7.3rem;
  background-image: url('../public/header.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content {
  padding: 0 0.67rem;
}

.photos {
  margin-top: 0.33rem;
  display: flex;
  justify-content: space-between;
}

.photos > .photo {
  width: 1.89rem;
  height: 2.49rem;
  background-color: #FFE5C0;
  border: 1px solid #6D0101;
  border-radius: .2rem;
  background-size: 100% 100%;
}

.photos > .photo:nth-child(1) {
  background-image: url('../public/t1.png');
}

.photos > .photo:nth-child(2) {
  background-image: url('../public/t2.png');
}

.photos > .photo:nth-child(3) {
  background-image: url('../public/t3.png');
}

.photos > .photo:nth-child(4) {
  background-image: url('../public/t4.png');
}

.gameText {
  margin-top: 0.33rem;
  padding: 0.26rem;
  
  background-color: #FFE5C0;
  border: 1px solid #6D0101;
  border-radius: .2rem;
  font-size: 0.4rem;
  text-align:justify;
  font-family: 'gulijianti';
  font-weight: bold;
}

.subtitle {
  padding: .2rem;
  margin-top: 0.33rem;
  width: 2rem;
  height: 0.53rem;
  background-image: url('../public/subtitle.png');
  background-size: 100% 100%;
  text-align: center;
  font-size: 0.4rem;
  line-height: 0.53rem;
  color: #720404;
  font-family: 'huakangbuding';

}

.flow {
  margin-top: 0.4rem;
  height: 1.96rem;
  background-image: url('../public/flow.png');
  background-size: 100% 100%;
}

.buttons {
  margin-top: .5rem;
}

.button {
  display: block;
  height: 1.37rem;
  background-image: url('../public/button.png');
  background-size: 100% 100%;
  text-align: center;
  line-height: 1.37rem;
  margin-bottom: 0.36rem;
  font-size: 0.53rem;
  color: #720404;
  font-family: 'huakangbuding';
}

.buttons > .button:last-child {
  margin-bottom: 0;
}

.map {
  margin-top: 0.33rem;
  padding: 0.26rem;
  
  background-color: #FFE5C0;
  border: 1px solid #6D0101;
  border-radius: .2rem;

  position: relative;

  min-height: 7rem;
}

.mapLabel {
  position: absolute;
  left: .5rem;
  bottom: .2rem;
  font-family: 'huakangbuding';
  font-size: .5rem;
  color: #720404;
}

.mapLabel > div:last-child {
  font-size: .2rem;
  white-space: nowrap;
}


.shareModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.shareScore {
  margin-top: 1rem;
  width: 5.8rem;
  height: 1.73rem;
  font-size: 0.7rem;
  color: #931C1C;
  text-align: center;
  line-height: 1.73rem;
  background-size: 100% 100%;
  position: relative;
}

.shareScore::after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-size: 100% 100%;
}

.shareText {
  margin-top: 0.61rem;
  font-size: 0.48rem;
  color: #931C1C;
}

.shareBgStar {
  background-size: 100% 100%;
  position: absolute;
}

@media screen and (max-width: 375px) {
  .shareScore {
    background-image: url('../public/share_score_bg.png');
  }
  .shareScore::after {
    background-image: url('../public/share_tiger.png')
  }
  .shareBgStar {
    background-image: url('../public/share_bg_star.png')
  }
}

@media screen and (min-width: 376px) {
  .shareScore {
    background-image: url('../public/share_score_bg@2x.png');
  }
  .shareScore::after {
    background-image: url('../public/share_tiger@2x.png')
  }
  .shareBgStar {
    background-image: url('../public/share_bg_star@2x.png')
  }
}