.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s;
}

.containerShow {
  z-index: 999;
  background-color: #00000033;
  opacity: 1;
}

.dialog {
  position: relative;
  top: -1rem;
  width: 8rem;
  height: 6.5rem;
  border-radius: 10px;
  padding: 0.4rem;
  background-color: #E5C289;
  background-size: 100%;
  overflow: auto;
}

@media screen and (max-width: 375px) {
  .dialog {
    background-image: url('../../../public/cloud-bg@1x.jpg');
  }
}

@media screen and (min-width: 376px) {
  .dialog {
    background-image: url('../../../public/cloud-bg@2x.jpg');
  }
}

.close {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  width: 0.5rem;
  height: 0.5rem;
  background-size: cover;
  z-index: 1;
}

@media screen and (max-width: 375px) {
  .close {
    background-image: url('../../../public/modal_close.png');
  }
}

@media screen and (min-width: 376px) {
  .close {
    background-image: url('../../../public/modal_close@2x.png');
  }
}