.loading {
  width: 1rem;
  height: 1rem;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  background-image: url('http://cdn-721008270.mtmss.com/loading.svg');
  background-size: cover;
}
.board {
  position: relative;
}
.row {
  display: flex;
}
.cell {
  width: 1rem;
  height: 1rem;
  border: 0.03rem solid #cbcbcb;
  border-bottom: 0;
  border-right: 0;
  line-height: 0.53rem;
  font-size: .53rem;
}

.rows > .row:last-child {
  border-bottom: 0.03rem solid #cbcbcb;
}

.row > .cell:last-child {
  border-right: 0.03rem solid #cbcbcb;
}

.boardWordCell {
  background-color: #fff;
}

.boardNoWordCell {
  background-color: #d8d8d8;
}

.cellInput {
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  font-size: 0.5rem;
  line-height: 1rem;
}

.cellForcus {
  background-color: #95BDEB;
}

.cellCorrect {
  color: #999;
}

.finishMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background .5s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.finishMaskHide {
  background-color: transparent;
  z-index: -1;
}

.finishMaskShow {
  background-color: #99999973;
  z-index: 1;
}

.finishMask > p {

}

.description {
  margin-top: 0.25rem; 
  padding: 0.3rem 0.533rem;
  background-color: #FAF6D0;
  color: #979797;
  font-size: 0.37rem;
}
