body {
  margin: 0;
  padding: 0;
}

.container {
  padding-bottom: 1.6rem;
  background-color: #fff;
  z-index: 1;
}

.gameHeader {
  padding: .5rem .4rem;
}

.username {
  font-size: .8rem;
}

.gameInfo {
  font-size: .37rem;
  color: #4A4A4A;
  display: flex;
}

.gameInfo > div {
  display: flex;
  margin-top: 0.26rem;
}

.gameInfo > div:first-child {
  flex: 1;
}


.textBlue {
  color: #4A90E2;
}

.textRed {
  color: #D3000D;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 1.5rem;
  width: 100%;
  background-color: #EF6D00;
  display: flex;
  align-items: center;
}

.footer > button {
  flex: 1;
  font-size: 0.5rem;
  color: #fff;
  line-height: 1.5rem;
  text-align: center;
  border: none;
  background: transparent;
}

.footer > div.seperator {
  flex: initial;
  width: 1px;
  height: 0.8rem;
  background-color: #fff;
}


/* Modal 样式*/

.shareModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.shareScore {
  margin-top: 1rem;
  width: 5.8rem;
  height: 1.73rem;
  font-size: 0.7rem;
  color: #931C1C;
  text-align: center;
  line-height: 1.73rem;
  background-size: 100% 100%;
  position: relative;
}

.shareScore::after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-size: 100% 100%;
}

.shareText {
  margin-top: 0.61rem;
  font-size: 0.48rem;
  color: #931C1C;
}

.shareButtons {
  display: flex;
  width: 100%;
  margin-top: 1.28rem;
  justify-content: space-around;
}

.shareButton {
  width: 3.67rem;
  height: 1.33rem; 
  background-color: #931C1C;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.37rem;
  color: #fff;
}

.shareButton p {
  margin: 0;
}

.shareFriendsIcon {
  margin-right: .2rem;
  width: 0.78rem;
  height: 0.68rem;
  background-size: cover;
}

.sharePyqIcon {
  margin-right: .2rem;
  width: 0.6rem;
  height: 0.6rem;
  background-size: cover;
}

.allWordContainer {
  margin-top: .5rem;
  overflow: auto;
  height: 6rem;
}

.allWordContainer  .word {
  color: #931C1C;
}

.allWord {
  padding: 0 .1rem;
  font-size: .4rem;
  color: #fff;
}



.helpText {
  font-size: .4rem;
  color: #931C1C;
  line-height: 1.5;
  text-align: justify;
}

.helpTextTitle {
  font-size: .45rem;
  line-height: 2;
}

.helpCloseText {
  margin: 0;
  font-size: .45rem;
  line-height: 2;
  text-align: center;
}

.tryModal {
  height: 6rem;
  background-image: url('../public/try.jpg');
  background-size: 100% 100%;
}

.shareGuide {
  position: fixed;
  top: .5rem;
  right: .5rem;
  color: #931C1C;
  background: #E5C289;
  padding: .5rem;
  font-size: .5rem;
}

.shareBgStar {
  background-size: 100% 100%;
  position: absolute;
}

@media screen and (max-width: 375px) {
  .shareScore {
    background-image: url('../public/share_score_bg.png');
  }
  .shareScore::after {
    background-image: url('../public/share_tiger.png')
  }
  .shareFriendsIcon {
    background-image: url('../public/wxhy.png');
  }
  .sharePyqIcon {
    background-image: url('../public/wxpyq.png');
  }
  .shareBgStar {
    background-image: url('../public/share_bg_star.png')
  }
}

@media screen and (min-width: 376px) {
  .shareScore {
    background-image: url('../public/share_score_bg@2x.png');
  }
  .shareScore::after {
    background-image: url('../public/share_tiger@2x.png')
  }
  .shareFriendsIcon {
    background-image: url('../public/wxhy@2x.png');
  }
  .sharePyqIcon {
    background-image: url('../public/wxpyq@2x.png');
  }
  .shareBgStar {
    background-image: url('../public/share_bg_star@2x.png')
  }
}