.container {

}

.row {
  display: flex;
}



.cell {
  width: 1rem;
  height: 1rem;
  border: 0.03rem solid #dfdfdf;
  border-bottom: 0;
  border-right: 0;
  
  line-height: 1rem;
  font-size: .53rem;
  text-align: center;
}

.container > .row:nth-child(2n-1) > .cell:nth-child(2n),
.container > .row:nth-child(2n) > .cell:nth-child(2n-1)
{
  background-color: #f1f1f1;
}

.container > .row > .cell:last-child {
  border-right: 0.03rem solid #dfdfdf;
}

.container > .row:last-child > .cell {
  border-bottom: 0.03rem solid #dfdfdf;
}

