@font-face {
  font-family: 'huakangbuding';
  src: url(../public/huakangbuding.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.topButtons {
  display: flex;
  justify-content: space-around;
  padding: 0.4rem 0.5rem;
}

.topButtons > div {
  width: 4.26rem;
  height: 1.06rem;
  font-size: 0.42rem;
  font-family: 'huakangbuding';
  color: #931C1C;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%
}

.rankImage {
  margin: 0 auto;
  margin-bottom: -.3rem;
  width: 8rem;
  height: 5.71rem;
  background-size: 100% 100%
}

@media screen and (max-width: 375px) {
  .topButtons > div {
    background-image: url('../public/share_score_bg.png');
  }
  .rankImage {
    background-image: url('../public/rank.png');
  }
}

@media screen and (min-width: 376px) {
  .topButtons > div {
    background-image: url('../public/share_score_bg@2x.png');
  }
  .rankImage {
    background-image: url('../public/rank@2x.png');
  }
}

.rank {
  font-size: 0.37rem;
  width: 100%;
  padding-bottom: 1.33rem;
}

.rank .listHead {
  display: flex;
  padding: 0.24rem 0rem;
  text-align: center;
  background-color: #eee;
  color: #9B9B9B;
}

.rank .listHead > div {
  flex: 1;
}

.rank .row {
  display: flex;
  align-items: center;
  
  
  color: #4A4A4A;
  padding: 0.24rem 0rem;
}

.rank .row > div {
  flex: 1;
  text-align: center;
}

.rank .row > .nickname {
  max-width: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rank .rows > .row:nth-child(2n) {
  background-color: #FAFAFA;
}

.listLoading {
  padding: .5rem;
  text-align: center;
}

.prizeImg {
  width: .4rem;
  height: .5rem;
  margin: auto;
  background-size: cover;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 1.33rem;
  color: #fff;
}

.footer button {
  padding: 0;
  margin: 0;
}